* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #eee;
    font-family: sans-serif;
    line-height: 2;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    width: 30rem;
    max-width: 90%;
    margin: 5rem auto;
    height: 70vh;
    overflow-y: scroll;
    position: relative;
}

table {
    position: relative;
    margin-right: .25rem;
}

thead {
    position: sticky;
    /* top: 8rem;
    width: 25rem; */
    margin-top: -3.5rem;
    background-color: crimson;
}
    thead th {
        padding: .5rem 1rem;
    }

tr:nth-child(even) {
    background-color: #222;
}

td {
    padding: .25rem 1rem;
    text-align: center;
}

td:nth-child(1) {
    display: flex;
}
td:nth-child(1) img {
    margin-right: 1rem;
}

/* Scroll bars styling */
/* width */
::-webkit-scrollbar {
    width: 6px;
    background: #222;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: crimson;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777; 
}